﻿@model CategoryListViewModel


@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<div id="application-index">
    <div class="row">
        @foreach (var category in Model.Categories)
        {
            <div class="col-xl-4 padding-10">
                <a asp-controller="Entry" asp-action="ForCategory" asp-route-categoryId="@category.Id" class="card text-center padding-10">
                    @category.Application.Name<Br/>
                    @category.Name
                </a>
            </div>
        }
    </div>
</div>