﻿@model CategoryListByAppViewModel


@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<div id="application-index">
    <div class="row">
        <div class="col-xl-12 padding-10">
            <a asp-controller="Entry" asp-action="ForApplication" asp-route-applicationId="@Model.ApplicationId" class="card text-center padding-10">
                All
            </a>
        </div>
    </div>

    <div class="row">
        @foreach (var category in Model.Categories)
        {
            <div class="col-xl-4 padding-10">
                <a asp-controller="Entry" asp-action="ForCategory" asp-route-categoryId="@category.Id" class="card text-center padding-10" >
                    @category.Name
                </a>
            </div>
        }
    </div>
</div>