﻿@model ApplicationListViewModel


@{
    ViewData["Title"] = "Applications";
}

<h1>Applications</h1>

<div id="application-index">
    <div class="row">
        @foreach (var application in Model.Applications)
        {
            <div class="col-xl-4 padding-10">
                <a asp-controller="Category" asp-action="List" asp-route-applicationId="@application.Id" class="card text-center padding-10" >
                    @application.Name
                </a>
            </div>
        }
    </div>
</div>