﻿@model LogFilterViewModel

<div id="form" class="form-offset col-md-12">
    <div class="row">
        <div class="col-md-4">Minimum loglevel</div>
        <div class="col-md-4">Specific loglevel</div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <select id="input-min-log-level" class="form-control">
                <option selected value="">All</option>
                <option value="0">Trace</option>
                <option value="1">Debug</option>
                <option value="2">Information</option>
                <option value="3">Warning</option>
                <option value="4">Error</option>
                <option value="5">Critical</option>
            </select>
        </div>

        <div class="col-md-4">
            <select id="input-log-level" class="form-control">
                <option selected value="">No Filter</option>
                <option value="0">Trace</option>
                <option value="1">Debug</option>
                <option value="2">Information</option>
                <option value="3">Warning</option>
                <option value="4">Error</option>
                <option value="5">Critical</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">EventId</div>
        <div class="col-md-4">Message text search</div>
        <div class="col-md-4">Additinalinfo text search</div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <input id="input-event-id" class="form-control" type="number" />
        </div>

        <div class="col-md-4">
            <input id="input-message" class="form-control" />
        </div>

        <div class="col-md-4">
            <input id="input-additional-info" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">Logged after</div>
        <div class="col-md-4">logged before</div>
        <div class="col-md-4">Ordered by</div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <input id="input-datetime-start" asp-for="@Model.Start" class="form-control" />
        </div>
        <div class="col-md-4">
            <input id="input-datetime-end" asp-for="@Model.End" class="form-control" />
        </div>

        <div class="col-md-4">
            <select id="input-order" class="form-control">
                <option selected value="0">Newest first</option>
                <option value="1">Oldest first</option>
            </select>
        </div>
    </div>
</div>