﻿@model IList<EntryDto>

<div id="entries-index">
    @foreach (var entry in Model)
    {
        <div class="row">
            <div class="col-xl-12 entry-block">
                <div>
                    @entry.LoggedOn.ToString("dd-MM-yyyy hh:mm:ss") [@LogLevelHelper.AsString(entry.LogLevel)] @(entry.Category.Name)[@entry.EventInfo.Id@(entry.EventInfo.Name == null ? string.Empty : ", " + entry.EventInfo.Name)]
                </div>
                @if (entry.ShowMessage)
                {
                    <div>
                        @entry.Message
                    </div>
                }
                @if (entry.ShowAdditionalInfo)
                {
                    <div>
                        @entry.AdditionalInfo
                    </div>
                }
                @if (entry.ShowException)
                {
                    var guid = Guid.NewGuid().ToString("N");

                    <div id="exception-@guid">
                        <a class="loader"><span onclick="temp('@guid', @entry.Exception.Id)">@entry.Exception.Name: @entry.Exception.Message</span></a>
                    </div>
                }
            </div>
        </div>
    }
</div>