﻿@model ExceptionDto

@{
    var guid = Guid.NewGuid().ToString("N");
}

<div>
    <div>
        <a class="uncollapser" data-toggle="collapse" href="#stackTrace-@guid">@Model.Name: @Model.Message</a>
    </div>
    <div id="stackTrace-@guid" class="collapse show">
        @foreach (var line in Model.StackTrace.Split("\r\n"))
        {
            <div>
                <span style="padding-left: 1rem"></span><span style="white-space: nowrap;">@line.Trim()</span>
            </div>
        }

        @if (Model.HasInnerException)
        {
            var innerGuid = Guid.NewGuid().ToString("N");

            <div id="exception-@innerGuid" style="padding-left: 1rem">
                <a class="loader"><span onclick="temp('@innerGuid', @Model.InnerException.Id)">@Model.InnerException.Name: @Model.InnerException.Message</span></a>
            </div>
        }
    </div>
</div>