﻿@model EntryListViewModel

@{
    ViewData["Title"] = "Entries";
}

<h1>Entries</h1>


<div id="list-wrapper">
    <partial name="_ListPartial" model="Model.Entries" />
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/entry-list.css" />
}

@section Scripts {

    <script type="text/javascript">
    $(document).ready(function ()
    {
        let defaultMin = $('#input-datetime-start').val();
        let defaultMax = $('#input-datetime-end').val();

        console.log(defaultMin);
        console.log(defaultMax);

        openModal = function () {
            $('#filter-modal').modal('show');
        }

        temp = function (guid, id) {
            $.ajax({
                type: "GET",
                url: '@(Url.Action("Exception", "Entry"))?id=' + id,
                accepts: "application/json",
                success: function (response) {
                    container = $('#exception-' + guid);
                    container.html(response);
                },
                failure: function (response) {
                    console.error(response);
                }
            });
        };

        reset = function () {
            $("#input-log-level").prop('selectedIndex', 0)
            $('#input-min-log-level').prop('selectedIndex', 0)
            $("#input-event-id").val(null);
            $("#input-message").val(null);
            $('#input-additional-info').val(null);
            $('#input-datetime-start').val(defaultMin);
            $('#input-datetime-end').val(defaultMax);
            $('#input-order').prop('selectedIndex', 0)
        }

        filter = function () {

            let obj = {
                @if (Model.ApplicationId.HasValue)
                {
                    <text>applicationId: @Model.ApplicationId,</text>;
                }
                @if (Model.CategoryId.HasValue)
                {
                    <text>categoryId: @Model.CategoryId,</text>;
                }
                minLogLevel: $('#input-min-log-level').val(),
                logLevel: $("#input-log-level").val(),
                eventId: $("#input-event-id").val(),
                message: $("#input-message").val(),
                start: $('#input-datetime-start').val(),
                end: $('#input-datetime-end').val(),
                order: $('#input-order').val(),
                additionalInfo: $('#input-additional-info').val()
            };

            console.log(obj);

            let settings = {
                type: "post",
                url: "Filter",
                data: JSON.stringify(obj),
                contentType: "application/json"
            }

            $.ajax(settings)
                .done(function (data) {
                    $('#list-wrapper').html(data);
                })
        }
    });
    </script>
}

@section Modals {

    <a style="position:fixed;top:80px;left:10px;color:white" class="btn btn-primary" onclick="openModal()">Filter Options</a>

    <div id="filter-modal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Filter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <partial name="_FilterPartial" model="@(new LogFilterViewModel { Start = Model.MinDate })" />

                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" onclick="reset()">Reset</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="filter()">Submit</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}