﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.padding-10 
{
    padding: 10px;
}

#application-index .card {
    /*cursor:pointer;*/
    font-weight:bold;
    background-color:lightgray;
    color: black;
}

#application-index .card:hover {
    background-color: lightblue;
    color: gray;
    text-decoration:none;
}

.entry-block {
    margin-bottom: 10px;
}

a.loader {
    cursor: pointer;
}

a.uncollapser {
    color: black;
    text-decoration:none;
}

#entries-index {
    overflow-x: scroll;
}